* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5dc;
}

.sidebar {
    width: 200px;
    background-color: #99cdbf;
    padding: 20px;
    border-right: 1px solid #ddd;
    min-height: 100vh;
}

.sidebar h1 {
    font-size: 1.5rem;
    color: #035f6b;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #007d8d;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.perfil {
    padding: 20px;
    background-color: #99cdbf;
    border-radius: 10px;
}

.img-perfil {
    display: flex;
    justify-content: right;
}

.reservas {
    margin-top: 10px;
    padding: 20px;
    background-color: #99cdbf;
    border-radius: 10px;
}

.reservas2 {
    margin-top: 10px;
    padding: 20px;
    background-color: #d3e6df;
    border-radius: 10px;
}

.reserva-detalhes {
    margin-top: 10px;
    padding: 20px;
    background-color: #d3e6df;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reserva-detalhes p {
    font-size: 1rem;
    color: #444;
    margin: 1px 0;
}

.reserva-detalhes strong {
    color: #035f6b;
}

.imagens-reserva {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.imagens-reserva img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.imagens-reserva img:hover {
    border-color: #007d8d;
    transform: scale(1.05);
    transition: transform 0.2s, border-color 0.2s;
}

.imagens-reserva h3 {
    font-size: 1.0rem;
    color: #035f6b;
    margin-bottom: 20px;
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #035f6b;
    margin-bottom: 20px;
}

.form-reservas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

.form-group-periodo {
    display: inline-block;
    width: 49%;
    font-weight: bold;
}

.form-group-periodo input {
    width: 100%;
}

input,
select,
textarea {
    padding: 7px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

.form-action_novareserva {
    text-align: left;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    background-color: #007d8d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #005f6a;
    text-align: center;
}

.status {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    background-color: #99cdbf;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
